/* Importation des polices */
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:ital,wght@0,300;0,400;1,100;1,400;1,500&family=Racing+Sans+One&display=swap");
/* color */
:root {
    --blanc: #ffffff;
    --noire: #000000;
    --bleu: #3182df;
    --bleu-nuit: #0851a591;
    --bleu-nuit-foncé: #0851a5;
    --gris: #e7eef3;
    --bleu-ciel: #c3e1f1;
}

html {
    font-size: 16px;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    margin: auto;
    width: 100%;
    height: auto;
  }
  
  img {
    max-width: 100%;
  }
  
  li {
    font-weight: 400;
    list-style: none;
    text-decoration: none;
  }

  input[type="number"] {
    overflow: hidden !important;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .btn-primary{
    font-size: 1rem;
    text-align: center;
    padding: 0.75rem 2rem;
    font-weight: 600;
    border-radius: 8px;
  }
  
  .btn-primary {
    background-color: var(--bleu-nuit-foncé) !important;
    border: 1px solid var(--bleu-nuit-foncé);
  }
  .btn:hover,
  .btn:focus-visible,
  .btn-check:focus+.btn,
  .btn:focus,
  .btn:first-child:active,
  :not(.btn-check)+.btn:active,
  .btn:first-child:active:focus-visible,
  :not(.btn-check)+.btn:active:focus-visible {
    box-shadow: none;
    transition: 0.5s ease-in-out;
  }
  
  .btn:hover.btn-primary,
  .btn:focus-visible.btn-primary,
  .btn-check:focus+.btn.btn-primary,
  .btn:focus.btn-primary,
  .btn:first-child:active.btn-primary,
  :not(.btn-check)+.btn:active.btn-primary{
    background-color: var(--bleu-nuit-foncé) !important;
    border: 1px solid var(--bleu-nuit-foncé);
    text-decoration: none;
  }
  
  .btn:hover.btn-primary,
  .btn:focus-visible.btn-primary,
  .btn-check:focus+.btn.btn-primary,
  .btn:focus.btn-primary,
  .btn:first-child:active.btn-primary,
  :not(.btn-check)+.btn:active.btn-primary {
    border: 1px solid var(--bleu-nuit-foncé);
  }
  
  .form-control{
    background-color: var(--color-secondary);
    padding: 0.75rem;
    border: 1.5px solid #d0d5dd;
    border-radius: 4px;
    width: 100%;
    color: #667085;
  }
  
  .form-control:focus{
    background-color: var(--color-secondary);
    border-color: #D0D5DD;
    box-shadow: none;
    color: var(--color-white);
  }
  
  .form-control.is-invalid:focus,
  .was-validated .form-control:invalid:focus {
    border: none;
    box-shadow: none;
  }
  
  .form-control::placeholder {
    font-size: 1rem;
    font-weight: 400;
    color: #667085;
  }
  
  
  .form-control {
    margin-top: 0.5rem;
  
  }

/* Style navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: "koulen";
    background-color: transparent;
}

.nav-link {
    color: var(--blanc) !important;
    text-align: center;
    margin-right: 40px;
}
select {
    border-style: none;
    background-color: transparent;
}
select:focus {
    outline: none;
    border-color: transparent;
}
.nav-link.active {
    color: var(--bleu) !important;
}
.nav-link:hover {
    color: var(--bleu) !important;
}

/* style section1 */
.first-section {
    background-image: url("image/accueil.png");
    background-size: cover;
    background-position: center;
}

.section-bg{
    padding: 14rem 0!important;
}

.gradient-overlay {
    background: var(--bleu-nuit);
    opacity: 0.9;
}

.title-1 {
    font-family: "racing sans one";
    font-size: 3.75rem!important;
    text-align: center;
    margin: 0;
}
.slogan {
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    margin: 4rem 9rem;
    line-height: 1.5rem;
}

/* Styles pour la deuxième section */
.second-section {
    padding: 3.75rem 0;
    background-color: var(--gris);
}

.section-title {
    font-family: "koulen";
    text-align: center;
    font-size: 36px;
    color: var(--bleu-nuit-foncé);
}

.section-description {
    text-align: center;
    font-size: 1.125rem;
    margin-bottom: 2.5rem;
}

.card {
    border: none;
}
.card-title {
    color: var(--bleu-nuit-foncé);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    font-family: "koulen";
    font-size: 1.5rem;
    text-align: center;
}
/* third section  */
.third-section {
    padding: 60px 0;
}

/* Styles pour la troisième section */
.third-section {
    padding: 3.75rem 0;
    background-color: var(--blanc);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gris);
    color: var(--blanc);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-overlay:hover {
    opacity: 0.5;
}

/* Styles pour la quatrième section */
.fourth-section {
    padding: 3.75rem 0;
    background-color: var(--blanc);
}


/* page index */

/* service */
.services {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  
  .services .row {
    justify-content: center;
  }
  
  .services .card {
    border: none;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .15);
  }
  
  .services .card .card-body {
    padding: 1.5rem;
  }
  
  .services .card-text {
    color: #747579;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
  }

  /* portofolio */


  /* partenaires */

  /* newsletter */

  /* footer */


  /* page service */

  /* processus */


  /* page contact */
 
  /* contact */


/* Styles pour les écrans de petite taille (téléphones) */
@media only screen and (max-width: 600px) {
    /* Styles pour les écrans de petite taille ici */
}

/* Styles pour les écrans de taille moyenne (tablettes) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles pour les écrans de taille moyenne ici */
}

/* Styles pour les écrans de grande taille (ordinateurs de bureau) */
@media only screen and (min-width: 1025px) {
    /* Styles pour les écrans de grande taille ici */
}
